<?xml version="1.0" encoding="UTF-8" ?>

<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.default_schema">interview</property>

        <property name="connection_pool_size">1</property>

        <property name="hbm2ddl.auto">update</property>

        <property name="show_sql">true</property>

        <mapping class="ru.nessing.interview.lesson_5.entities.StudentEntity"/>
    </session-factory>
</hibernate-configuration>